<div class="page-box2">

  <h1>Welcome to Crafty!</h1>
  <h3>Your Home for Home Made</h3>
  <div class="">
    <h2>Our Mission:</h2>
    <p>A bunch of stuff about selling the coolest crafts ever.</p>
  </div>

</div>
