@import "bootstrap-sprockets";
@import "bootstrap";

.layout {
  min-height: 1000px;
  width: 1200px;
  background-image: url(back2.jpg);
}

.nav {
  margin-right: 5px;
}

#splash {
  padding-top: 5%;
  margin-left: -16px;
  min-height: 1000px;
  width: 1200px;
  background-image: url(back.jpg);
}

.sign-box {
  color: white;
  background-image: url(triangle.jpeg);
  text-align: center;
  margin-left: 32%;
  padding: 2%;
  border: 4px solid white;
  background-color: #efedea;
  width: 40%;
  min-height: 400px;
  a {
    color:#54dddd;
  }
}

.page-box {
  opacity: .93;
  min-height: 800px;
  margin: 5%;
  padding: 3%;
  border: 4px solid white;
  background-color: #efedea;
}

.page-box2 {
  opacity: .8;
  min-height: 800px;
  margin: 8%;
  padding: 4%;
  border: 4px solid white;
  background-color: #efedea;
}

.main-prod {
  width: 80%;
}

.mini-prod {
  margin: auto;
  text-align: center;
  padding: 2%;
  background-image: url(dots2.jpg);
  width: 50%;
}
.seller-prod{
  padding: 1%;
  text-align: center;
}


.user-box {
  text-align: center;
  border: 2px ridge white;
  padding: 2%;
  width: 50%;
  img {
    height: 60px;
    width: auto;
    border-radius: 50%;
    border: 1px solid white;
  }
}

.admins {
  background-image: url(zigs3.jpg);
  text-align: center;
  color: white;
  padding: 3%;
  border: 1px solid white;
  .inner {
    padding: 2%;
    .user-box{
      padding: 2%;
      float: left;
      width: 30%;
      border: 2px ridge white;
      margin-top: 1%;
      background-color: #efedea;
    }
  }
}

.members {
  background-image: url(zigs1.jpg);
  text-align: center;
  color: white;
  padding: 2%;
  border: 1px solid white;
  .inner {
    padding: 2%;
    .user-box{
      margin: auto;
      margin-top: 3%;
      background-color: #efedea;
    }
  }
}

.sellers {
  background-image: url(zigs2.jpg);
  text-align: center;
  color: white;
  padding: 2%;
  border: 1px solid white;
  .inner {
    padding: 2%;
    .user-box{
      margin: auto;
      margin-top: 3%;
      background-color: #efedea;
    }
  }
}

.profile {
  background-image: url(zigs2.jpg);
  text-align: center;
  padding: 3%;
  border: 1px solid white;
  .box{
    padding: 2%;
  }
  .inner {
    padding: 1%;
    background-color: #efedea;
  }
}
